<div id="share">
    Share on

    <span title="Share this on Mastodon" class="btn" style="background-color: #6260fa; cursor: pointer;"
        onclick="mastodon_modal()">Mastodon</span>

    {% for butt in site.sharebuttons %}
    {%- assign elems = "" | split: "" -%}

    {%- if butt.extra -%}
    {%- assign elems = elems | push: butt.extra -%}
    {%- endif -%}

    {%- if butt.url -%}
    {%- assign url = butt.url | append: '=' -%}
    {%- assign url = url | append: 'https://everydaycompute.github.io' | append: page.url | uri_escape -%}
    {%- assign elems = elems | push: url -%}
    {%- endif -%}

    {%- if butt.media -%}
    {%- assign media = butt.media | append: '=' -%}
    {%- assign mediaurl = page.image | absolute_url -%}
    {%- assign media = media | append: mediaurl -%}
    {%- assign elems = elems | push: media -%}
    {%- endif -%}

    {%- if butt.body -%}
    {%- assign body = butt.body | append: '=' -%}
    {%- assign body = body | append: '%0A' -%}
    {%- assign body = body | append: 'https://everydaycompute.github.io' | append: page.url | uri_escape -%}
    {%- assign body = body | append: '%0A' -%}
    {%- assign elems = elems | push: body -%}
    {%- endif -%}

    {%- if butt.title -%}
    {%- assign title = butt.title | append: '=' -%}
    {%- assign title = title | append: page.title | uri_escape -%}
    {%- assign elems = elems | push: title -%}
    {%- endif -%}

    <a class="sharelink" title="Share this on {{ butt.name }}" target="_blank"
        href="{{ butt.base }}?{{ elems | join: '&' }}">
        <span class="btn" style="background-color: {{ butt.color }};">{{ butt.name }}</span>
    </a>
    {% endfor %}

</div>

<dialog id="mastodon_modal">
    <button onclick="mastodon_modal(true)">Close</button><br />
    Instance: <input id="mast_inst" name="mastodon" oninput="mastodon_share()" type="text"
        placeholder="toot.cat" /><br />
    <a id="mastodon_share" class="sharelink" target="_blank">
        <span class="sharebutton btn" style="background-color: #6260fa;">Share</span>
    </a>
</dialog>

<script>
    var thisid = "{{ page.id | slice: 1, 999 | replace: '/', '-' }}";
    var mastsharetext = `${document.URL}\n{{ page.title | escape }}\n`
</script>
