---
layout: default
---
{%- if page.title -%}
<h2 class="page-heading">{{ page.title }}</h2>
{%- endif -%}

{{ content }}

<div id="bottom_links">
    <a href="#a-title" title="Go to the top of the page">Top</a>
    <a href="/" title="Go to the main page">Home</a>
    <a href="/feed.xml" title="The RSS feed">RSS</a>
    <a href="https://toot.cat/@DPSsys" target="_blank" rel="me" title="Mastodon account">Mastodon</a>
    <a href="https://yee.nu/" title="Website mostly with social media links">Website</a>
    <a href="/sitemap.xml" title="The XML sitemap">Sitemap</a>
    {% if page.layout != "home" or page.path == 'index.html' %}
    <a href="{{ page.path | prepend: 'https://github.com/EveryDayCompute/everydaycompute.github.io/blob/main/' }}"
        title="Source of this page">Source</a>
    <a href="{{ page.path | prepend: 'https://github.com/EveryDayCompute/everydaycompute.github.io/blame/main/' }}"
        title="Blame this page">Blame</a>
    <a href="{{ page.path | prepend: 'https://github.com/EveryDayCompute/everydaycompute.github.io/raw/main/' }}"
        title="Raw of this page">Raw</a>
    {% endif %}
</div>
